<%- include('../partials/footer') %>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Global Scripts -->
    <script src="/assets/js/main.js"></script>
    </body>

    </html>